<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">  
  <xacro:macro name="knuckle_gazebo" params="number">
	<gazebo reference="$knuckle_{number}_link">
	  <selfCollide>false</selfCollide>
      <mu1 value="0.05" />
      <mu2 value="0.05" />
      <material>Gazebo/White</material>
    </gazebo>
  </xacro:macro>
</robot>
