<?xml version = "1.0" ?>
<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find edu_rover)/worlds/edu_rover.world"/>
    <!-- more default parameters can be changed here -->
  </include>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find edu_rover)/urdf/edu_rover.urdf -urdf -x 0 -y 0 -z 1 -model edu_rover" />
  <include file="$(find edu_rover)/launch/load_edu_rover_controllers.launch"/>

</launch>
